.button2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    box-sizing: border-box;
    font-weight: var(--fontSemiBold);
    font-size: var(--fontNormal);
    text-align: center;
    line-height: var(--lineHeightButton);
    font-family: var(--fontNunitoSans);

    &:hover {
        filter: brightness(110%);
    }

    // Button level
    &.btn-primary {
        background: var(--colorPrimary);
        color: var(--colorWhite);
        border: 1px solid var(--colorPrimary);
    }
    &.btn-secondary {
        background: var(--colorWhite);
        color: var(--colorPrimary);
        border: 1px solid var(--colorPrimary);
    }
    &.btn-secondary-bw {
        background: var(--colorWhite);
        color: var(--colorBlack);
        border: 1px solid var(--colorBlack);
    }
    &.btn-secondary-flat {
        background: var(--colorWhite);
        color: var(--colorPrimary);
        border: 1px solid var(--colorWhite);
    }

    // Button size
    &.btn-extsm {
        font-size: var(--fontSmall);
        padding: 3px 5px;
    }
    &.btn-small {
        font-size: var(--fontSmall);
        padding: 4px 9px;
    }
    &.btn-normal {
        font-size: var(--fontNormal);
        padding: 6px 10px;
    }
    &.btn-big {
        font-size: var(--fontNormal);
        padding: 8px 13px;
    }
    &.btn-extbig {
        font-size: var(--fontNormal);
        padding: 10px 15px;
    }

    // Button type
    &.btn-regular {
        border-radius: 5px;
    }
    &.btn-capsule {
        border-radius: 100px;
    }
    &.btn-circle {
        border-radius: 1000px;
    }

    .loader {
        transform: rotate(0deg);
        animation: loading 400ms infinite linear;

        @keyframes loading {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(359deg);
            }
        }
    }
}