@use "Sass/headings" as headings;

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// Variables
:root {
  // Colors
  --colorPrimary: #5656bc;
  --colorDisabled: #DADADA;
  --colorWhite: #ffffff;
  --colorBlack: #202020;
  --colorGreySoft: #969696;
  --colorGreyDark: #7d7d7d;
  --colorRed: #EB554B;
  --colorGreen: #1BCB8C;
  --colorBlue: #47A2F7;
  --colorOrange: #F4AA1B;
  --colorYellow: #FFD600;
  --colorOutline: #563CD6;
  --colorOutlineDark: #BD72F8;

  // Font family
  --fontMontSerrat: "Montserrat", sans-serif;
  --fontNunitoSans: "Nunito Sans", sans-serif;

  // Initial font size
  --initialFontSize: 15.25px;

  // Font size (Based on initial font size)
  --fontExtraSmall: 0.74rem;
  --fontSmall: 0.87rem;
  --fontNormal: 1rem;
  --fontBig: 1.14rem;
  --fontExtraBig: 1.28rem;

  // Font weight
  --fontLight: 300;
  --fontRegular: 400;
  --fontSemiBold: 600;
  --fontBold: 700;
  --fontExtraBold: 800;

  // Line height
  --lineHeightButton: 1;
  --lineHeightParagraph: 1.5;

  // Heading size
  --heading1: 1.69rem;
  --heading2: 1.56rem;
  --heading3: 1.41rem;
  --heading4: 1.28rem;
  --heading5: 1.14rem;
  --heading6: 1rem;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--fontNunitoSans);
  font-size: var(--initialFontSize);
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  color: var(--colorBlack);
  background: var(--colorWhite);
}

// Headings
@include headings.style;